<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__STATIC__/home/css/base.css">
    <link rel="stylesheet" href="__STATIC__/home/css/css.css">
	<link rel="stylesheet" href="__STATIC__/emoji/lib/css/jquery.mCustomScrollbar.min.css"/>
	<link rel="stylesheet" href="__STATIC__/emoji/dist/css/jquery.emoji.css"/>
	<style>
		#get_file{
			font-size: 34px;
			position: absolute;
			top: 29%;
			right: 105px;
			width: 32px;
			height: 32px;
			line-height: 32px;
			text-align: center;
			color: #2e96ed;
		}
		.emoji_container{
			top: 305px !important;
		}
		.emoji_btn{
			top: -54px !important;
			left: 306px !important;
			position: relative !important;
		}
		.video_main_middle_bottom textarea{
			left: 45px;
		}
	</style>
</head>

<body>
    <div class="header">
        <div class="wrap clearfix">
            <div class="fl">
                <img src="__STATIC__/home/images/logo.png" alt="">
            </div>
            <div class="fr header_right">
                <div class="usr_img">
                    <img src="{$userinfo['thumb']}" alt="" style="width:60px;border-radius:50%;">
                </div>
                <div class="user_name">
                    <span>{$userinfo['name']}</span>
                </div>
                <a class="user_out" href="{:url('index/login/outlog')}">
                    <img src="__STATIC__/home/images/out_icon.png" alt="">
                    退出
                </a>
            </div>
        </div>
    </div>

    <div class="header_bottom">
        <div class="wrap clearfix">
            <div class="fr crub_box">
                <a href="" class="crub_item on">
                   （聊天室）
                </a>
            </div>
        </div>
    </div>



    <div class="wrap main_content">
            <div class="left_content">
				<!-- <a href="" class="nav_item">用户管理</a>
				<a href="" class="nav_item on">视频诊疗室</a> -->
            </div>


            <div class="video_main_middle">
				{if $tid}	
                <div class="video_main_middle_one">
                    <p class="video_main_middle_title">与 <i>{$touser['name']}</i> 聊天中</p>
                
                    <ul class="video_main_middle_group" style="height: 400px;overflow: auto;">
					{foreach $messageList as $val}
						{if $val['uid'] != $uid}
                        <li>
                            <div class="video_main_middle_list_top">
                                <img src="{$touser['thumb']}" alt="">
                                <span>{$touser['name']}</span>
                                <i>{$val['create_time']}</i>
                            </div>
							{if $val['type'] == 1}
                            <p class="video_main_middle_list_text">{$val['message']}</p>
							{else}
							<img src="{$val['message']}" style="width:20%">
							{/if}
                        </li>
						{else}
						<li class="video_main_middle_list_right">
                            <div class="video_main_middle_list_top clearfix">
                                <i>{$val['create_time']}</i>
                                <span>{$userinfo['name']}</span>
                                <img src="{$userinfo['thumb']}" alt="">
                            </div>
							{if $val['type'] == 1}
                            <p class="video_main_middle_list_text">{:stremjio($val['message'])}</p>
							{else}
							<img src="{$val['message']}" style="width:20%">
							{/if}
                        </li>	
						{/if}
                    {/foreach}                    
                    </ul>
                    <div class="video_main_middle_bottom">
						<div id="aaaaaa">
                        <textarea name="text" id="message" placeholder="请输入聊天内容..."></textarea>
						</div>
						<span id="get_file">+</span>
						<input type='file' name="file" id="file" style="display:none">
                        <a id="btn">发送</a>
                    </div>
                </div>
				{/if}
            </div>

            <div class="video_main_right">
                <div class="video_main_right_one">
                    <p class="video_main_right_one_title">好友列表</p>
					{foreach $userlist as $val}
                    <p class="video_main_right_one_frame">
						<a href="{:url('index/jstx/index',array('tid'=>$val['id']))}">
							<img src="{$val['thumb']}" style="width:40px;border-radius:50%;">
							<span>{$val['name']}</span>
						</a>
					</p>
					{/foreach}
                </div>
            </div>
        </div>
    </div>
	<span id="sourceTextaa"></span>
	<span id="btnParse">转换</span>

	<span onclick="stremjio(':haha::a:#qq_44#')">转换1</span>
</body>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script src="__STATIC__/emoji/lib/script/jquery.min.js"></script>
<script src="__STATIC__/emoji/lib/script/jquery.mousewheel-3.0.6.min.js"></script>
<script src="__STATIC__/emoji/lib/script/jquery.mCustomScrollbar.min.js"></script>
<script src="__STATIC__/emoji/src/js/jquery.emoji.js"></script>
<script>
	$(".video_main_middle_group").animate({scrollTop:$(".video_main_middle_group")[0].scrollHeight},'200');	
	uid = {$uid};
	tid = {$tid};
	online = 0;
	username = '{$userinfo["name"]}';
	toname = '{$touser["name"]}';
	tothumb = '{$touser["thumb"]}';
	userthumb = '{$userinfo["thumb"]}';
	
	ws = new WebSocket("ws://127.0.0.1:8282");
	ws.onmessage = function(e){
		data = JSON.parse(e.data);
		if(data.type == 'bind'){
			data = '{"type":"bind","uid":"'+uid+'"}';
			ws.send(data);
			online ='{"type":"online","uid":"'+uid+'","tid":"'+tid+'"}';
			ws.send(online);
		}

		if(data.type == 'pull'){
			$.ajax({
				type:"post",
				url:"{:url('pull')}",
				data:data,
				dataType:'json',
				async: false,
				success: function (data) {
					
				}
			});
		}

		if(data.type == 'say'){
			$('.video_main_middle_group').append('<li><div class="video_main_middle_list_top"><img src="'+tothumb+'" alt=""><span>'+toname+'</span><i>'+data.date_time+'</i></div><p class="video_main_middle_list_text">'+stremjio(data.message)+'</p></li>');
			$(".video_main_middle_group").animate({scrollTop:$(".video_main_middle_group")[0].scrollHeight},'200');
		}
		
		if(data.type == 'online'){
			if(data.status == 1){
				online = 1;
			}else{
				online = 0;
			}
		}

		if(data.type == 'say_img'){
			$('.video_main_middle_group').append('<li><div class="video_main_middle_list_top"><img src="'+tothumb+'" alt=""><span>'+toname+'</span><i>'+data.date_time+'</i></div><img src="'+data.message+'" style="width:20%"></li>');
			$(".video_main_middle_group").animate({scrollTop:$(".video_main_middle_group")[0].scrollHeight},'200');
		}
	}
	
	$('#btn').click(function(){
		message = $('#message').val();
		if(!message){
			alert('请输入内容');
			return
		}
		date_time = '<?php echo date("Y-m-d H:i:s",time()); ?>';
		
		$('.video_main_middle_group').append('<li class="video_main_middle_list_right"><div class="video_main_middle_list_top clearfix"><i>'+date_time+'</i><span>'+username+'</span><img src="'+userthumb+'" alt=""></div><p class="video_main_middle_list_text" >'+stremjio(message)+'</p></li>');
		data = '{"type":"say","msg":"'+message+'","uid":"'+uid+'","tid":"'+tid+'"}';

		$(".video_main_middle_group").animate({scrollTop:$(".video_main_middle_group")[0].scrollHeight},'200');
		ws.send(data);
		$('#message').val('');
	})
	
	//发送图片
	$('#get_file').click(function(){
		$('#file').click();
	})

	$('#file').change(function(){
		formdata = new FormData();
		formdata.append('uid',uid);
		formdata.append('tid',tid);
		formdata.append('online',online);
		formdata.append('file',$("#file")[0].files[0]);
		
		
		$.ajax({
			type:"post",
			url:"{:url('uploadimg')}",
			data:formdata,
			dataType:'json',
			cache:false,
			processData:false,
            contentType:false,
			success: function (data) {
				if(data.code == 200){
					imgname = data.ima_name;
					date_time = '<?php echo date("Y-m-d H:i:s",time()); ?>';
					$('.video_main_middle_group').append('<li class="video_main_middle_list_right"><div class="video_main_middle_list_top clearfix"><i>'+date_time+'</i><span>'+username+'</span><img src="'+userthumb+'" alt=""></div><img src="'+imgname+'" style="width:20%"></li>');	
					$(".video_main_middle_group").animate({scrollTop:$(".video_main_middle_group")[0].scrollHeight},'200');	

					data = '{"type":"say_img","uid":"'+uid+'","tid":"'+tid+'","msg":"'+imgname+'"}';
					ws.send(data);
				}else{
					alert(data.msg);
				}	
			}
		});
	})

	$("#message").emoji({
		showTab: true,
		animation: 'fade',
		icons: [{
			name: "贴吧表情",
			path: "__STATIC__/emoji/dist/img/tieba/",
			maxNum: 50,
			file: ".jpg",
			placeholder: ":{alias}:",
			alias: {
				1: "hehe",
				2: "haha",
				3: "tushe",
				4: "a",
				5: "ku",
				6: "lu",
				7: "kaixin",
				8: "han",
				9: "lei",
				10: "heixian",
				11: "bishi",
				12: "bugaoxing",
				13: "zhenbang",
				14: "qian",
				15: "yiwen",
				16: "yinxian",
				17: "tu",
				18: "yi",
				19: "weiqu",
				20: "huaxin",
				21: "hu",
				22: "xiaonian",
				23: "neng",
				24: "taikaixin",
				25: "huaji",
				26: "mianqiang",
				27: "kuanghan",
				28: "guai",
				29: "shuijiao",
				30: "jinku",
				31: "shengqi",
				32: "jinya",
				33: "pen",
				34: "aixin",
				35: "xinsui",
				36: "meigui",
				37: "liwu",
				38: "caihong",
				39: "xxyl",
				40: "taiyang",
				41: "qianbi",
				42: "dnegpao",
				43: "chabei",
				44: "dangao",
				45: "yinyue",
				46: "haha2",
				47: "shenli",
				48: "damuzhi",
				49: "ruo",
				50: "OK"
			},
			title: {
				1: "呵呵",
				2: "哈哈",
				3: "吐舌",
				4: "啊",
				5: "酷",
				6: "怒",
				7: "开心",
				8: "汗",
				9: "泪",
				10: "黑线",
				11: "鄙视",
				12: "不高兴",
				13: "真棒",
				14: "钱",
				15: "疑问",
				16: "阴脸",
				17: "吐",
				18: "咦",
				19: "委屈",
				20: "花心",
				21: "呼~",
				22: "笑脸",
				23: "冷",
				24: "太开心",
				25: "滑稽",
				26: "勉强",
				27: "狂汗",
				28: "乖",
				29: "睡觉",
				30: "惊哭",
				31: "生气",
				32: "惊讶",
				33: "喷",
				34: "爱心",
				35: "心碎",
				36: "玫瑰",
				37: "礼物",
				38: "彩虹",
				39: "星星月亮",
				40: "太阳",
				41: "钱币",
				42: "灯泡",
				43: "茶杯",
				44: "蛋糕",
				45: "音乐",
				46: "haha",
				47: "胜利",
				48: "大拇指",
				49: "弱",
				50: "OK"
			}
		}, {
			name: "qq表情",
			path: "__STATIC__/emoji/dist/img/qq/",
			maxNum: 91,
			excludeNums: [41, 45, 54],
			file: ".gif",
			placeholder: "#qq_{alias}#"
		}]
	});

	$("#btnParse").click(function () {
		str = $('#message').val();
		replace_em(str)
    });
	
	function replace_em(str){
		$("#sourceTextaa").emojishow({
        	content:str,
            icons: [{
                path: "__STATIC__/emoji/dist/img/tieba/",
                file: ".jpg",
                placeholder: ":{alias}:",
                alias: {
                    1: "hehe",
                    2: "haha",
                    3: "tushe",
                    4: "a",
                    5: "ku",
                    6: "lu",
                    7: "kaixin",
                    8: "han",
                    9: "lei",
                    10: "heixian",
                    11: "bishi",
                    12: "bugaoxing",
                    13: "zhenbang",
                    14: "qian",
                    15: "yiwen",
                    16: "yinxian",
                    17: "tu",
                    18: "yi",
                    19: "weiqu",
                    20: "huaxin",
                    21: "hu",
                    22: "xiaonian",
                    23: "neng",
                    24: "taikaixin",
                    25: "huaji",
                    26: "mianqiang",
                    27: "kuanghan",
                    28: "guai",
                    29: "shuijiao",
                    30: "jinku",
                    31: "shengqi",
                    32: "jinya",
                    33: "pen",
                    34: "aixin",
                    35: "xinsui",
                    36: "meigui",
                    37: "liwu",
                    38: "caihong",
                    39: "xxyl",
                    40: "taiyang",
                    41: "qianbi",
                    42: "dnegpao",
                    43: "chabei",
                    44: "dangao",
                    45: "yinyue",
                    46: "haha2",
                    47: "shenli",
                    48: "damuzhi",
                    49: "ruo",
                    50: "OK"
                }
            }, {
                path: "__STATIC__/emoji/dist/img/qq/",
                file: ".gif",
                placeholder: "#qq_{alias}#"
            }]
        });
	}
</script>
</html>